extends includes/layout.pug

block content
  #page
    if page.title
      h1.page-title
        i.fas.fa-link
        = page.title
    article.card-widget
      .card-content
        #article-container.container
          != page.content
    if page.comments !== false && theme.comments.use
      !=partial('includes/third-party/comments/index', {}, {cache: true})